<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="todo">
      <h2 data-cy="todoDetailsHeading"><span jhiTranslate="myappApp.todo.detail.title">Todo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="myappApp.todo.state.type">State</span></dt>
        <dd>
          <span *ngIf="todo.state" jhiTranslate="myappApp.todo.state.word.true"></span>
          <span *ngIf="!todo.state" jhiTranslate="myappApp.todo.state.word.false"></span>
        </dd>
        <dt><span jhiTranslate="myappApp.todo.title">Title</span></dt>
        <dd>
          <span>{{ todo.title }}</span>
        </dd>
        <dt><span jhiTranslate="myappApp.todo.description">Description</span></dt>
        <dd>
          <span>{{ todo.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/todo', todo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
